/* Declarando as variáveis */
:root{
    --vermelho: #e50914;
    --preto: #141414;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /**/
}

body{
    background: var(--preto);
    color: #ffffff;
    font-family: 'Arial', Times, serif;
}

 /* Nav Bar */
 header .container{
    display: flex;
    flex-direction: row;
    align-items: center; /* Trabalha com os elementos verticalmente */
    justify-content: space-between; /* Trabalha com os elementos horizontalmente deixando o espaço entre o h2 e a nav */
}

header .logo{
    text-transform: uppercase;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #ffffff;
}

/* Filme principal */
.filme-principal{
    font-size: 16px;
    background-image: url(../img/cartaz-dark.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0 .50), (rgba(0, 0, 0 .50)100%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Faz o elemento começar à esquerda */
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer; /* Muda a forma do cursor do mouse sobre o elemento*/
    transition: .3s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}


.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrossel-filmes{
    margin-top: 5px;
}